.recipe__details{
    background-color: #ffffff;
    width: 30%; 
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px #08393e;
    margin: 65px 0 72px 0;  
    color: black;
}

.recipe__img{
    height: 200px;
    width: 195px;
    object-fit: cover;
    border: solid 4px #08393e;
    border-radius: 15px;
}

.recipe__title{
    font-family: 'Grape Nuts', cursive;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.recipe__difficulty p{
    color: rgb(0, 0, 0);
}
.fa-star{
    color: #ffdc10;

}
